<md2-dialog #serviciodialog>
        <h5>Nuevo servicio</h5>
        <md-tab-group [selectedIndex]="selectedIndex">
            <md-tab [disabled]="tab1disabled">
                <ng-template md-tab-label>
                  Servicio
                </ng-template>
         <form #formServicio="ngForm" (ngSubmit)="postServicio()">
              <md-input-container dividerColor="accent">
                  <input mdInput #sernombre #SERVNOMBRE="ngModel" [(ngModel)]="iservicio.SERVNOMBRE" minlenght="5" maxlength="45" name="SERVNOMBRE" placeholder="Nombre de servicio" required autocomplete="off" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{5,45}">
                <md-hint align="end">{{sernombre.value.length}}/45</md-hint>
                <md-error align="start">El nombre debe de tener al menos 5 caracteres alfabéticos</md-error>
              </md-input-container>

              <md2-select name="IDSUCURSAL"
                      class="form-select"
                      [(ngModel)]="iservicio.IDSUCURSAL"
                      #IDSUCURSAL="ngModel"
                      placeholder="Sucursal a la que pertenecerá el servicio"
                      [required]="isRequired"
                      [disabled]="isDisabled"
                      #sucursalesControl="ngModel"
                      autofocus="autofocus">
            <!--<md2-select-header>
            <input name="search" type="text" placeholder="Buscar..." />
            </md2-select-header>-->

            <md2-option *ngFor="let s of sucursales" [value]="s.IDSUCURSAL"><strong>{{s.IDSUCURSAL}}</strong> | {{s.SNOMBRE}}: <span class="kp-text">{{s.SDIRECCION}}</span>
            </md2-option>
          </md2-select>
              <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formServicio.form.valid">Crear nuevo servicio</button>
                <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
         </form>
         </md-tab>

          <md-tab [disabled]="tab2disabled">
                <ng-template md-tab-label>
                  Añadir prendas al servicio {{iservicio.SERVNOMBRE}}
                </ng-template>
                 <form #formSP="ngForm" (ngSubmit)="postSP()">

                <md2-select
                        class="form-select"
                        [(ngModel)]="spone.IDPRENDAS"
                        #IDPRENDAS="ngModel"
                        name="IDPRENDAS"
                        placeholder="Prendas que pertenecerán al servicio"
                        [required]="isRequired"
                        [disabled]="isDisabled"

                        autofocus="autofocus">
              <!--<md2-select-header>
              <input name="search" type="text" placeholder="Buscar..." />
              </md2-select-header>-->

              <md2-option *ngFor="let p of iprenda" [value]="p.IDPRENDAS"><strong>{{p.IDPRENDAS}}</strong> | <span class="kp-text">{{p.PNOMBREUNIDAD}}</span>
              </md2-option>
              </md2-select>

              <table class="example-full-width" cellspacing="0">
              <tr>
                <td width="40%"><md-input-container dividerColor="accent">
                <input type="number" mdInput #costo min="1" max="100" #SPCOSTO="ngModel" [(ngModel)]="spone.SPCOSTO" name="SPCOSTO" placeholder="Costo del servicio" required autocomplete="off">
                <!--<md-hint align="end">{{costo.value.length}}/45</md-hint>-->
                <md-error align="start">por favor ingresa costo al servicio</md-error>
              </md-input-container></td>
                <td>
                  <p class="kp-text">Descuento %</p>
                  <md-slider
                      #SPDESCUENTO="ngModel" [(ngModel)]="spone.SPDESCUENTO" name="SPDESCUENTO"
                        class="md-slider"
                        [disabled]="disabled"
                        [invert]="invert"
                        [max]="max"
                        [min]="min"
                        [step]="step"
                        [thumb-label]="thumbLabel"
                        [tick-interval]="tickInterval"
                        [value]="value"
                        [vertical]="vertical">
                    </md-slider></td>
                </tr>
            </table>

                  <!--<input type="hidden" #IDSERVICIO="ngModel" [(ngModel)]="spone.IDSERVICIO" name="IDSERVICIO" placeholder="IDSERVICIO" autocomplete="off" value={{lastservicio}}>-->

              <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formSP.form.valid">Vincular prenda a {{iservicio.SERVNOMBRE}}</button>
         </form>
         <button class="button-form" color="accent" md-button style="width:100%; margin-top:2px;" [disabled]="next" (click)="getservicio(lastservicio)">Ir a detalles del servicio<md-icon >keyboard_arrow_right</md-icon></button>
                <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
          </md-tab>
      </md-tab-group>
</md2-dialog>

    <button md-raised-button color="accent" (click)="serviciodialog.open()">Añadir Servicio</button>
