<md2-dialog #clientedialog>
        <h5>{{opcioncliente | uppercase}}</h5>
        <form #formCliente="ngForm" (ngSubmit)="postCliente()">

        <table class="example-full-width" cellspacing="0">
           <tr>
            <td><md-input-container dividerColor="accent">
                  <input type="email" mdInput name="CEMAIL" [(ngModel)]="cliente.CEMAIL" #correo #CEMAIL="ngModel" maxlength="45" autofocus="autofocus" placeholder="Correo eléctronico" autocomplete="off" required>
                  <md-hint align="end">{{correo.value.length}}/45</md-hint>
                  </md-input-container></td>
            <td><md-input-container dividerColor="accent">
                  <input type="text" name="CPASSWORD" #contrasena #CPASSWORD="ngModel" [(ngModel)]="cliente.CPASSWORD" mdInput maxlength="45" placeholder="Contraseña" required autocomplete="off">
                  <!--<span *ngIf="contrasena.touched && !contrasena.valid">Ingrese un nombre de cliente por favor</span>-->
                  <md-hint align="end">{{contrasena.value.length}}/45</md-hint>
                </md-input-container></td>
             </tr>
         </table>

         <table class="example-full-width" cellspacing="0">
           <tr>
            <td><md-input-container class="example-full-width"  dividerColor="accent">
                <input type="text" name="CNOMBRE" #nombre #CNOMBRE="ngModel" [(ngModel)]="cliente.CNOMBRE" mdInput maxlength="45" placeholder="Nombre de cliente" required autocomplete="off">
                  <!--<span *ngIf="nombre.touched && !nombre.valid">Ingrese un nombre de cliente valido por favor</span>-->
                  <md-hint align="end">{{nombre.value.length}}/45</md-hint>
            </md-input-container></td>
            <td><md-input-container class="example-full-width"  dividerColor="accent">
              <input type="text" name="CAPELLIDOS" #apellidos #CAPELLIDOS="ngModel" [(ngModel)]="cliente.CAPELLIDOS" mdInput maxlength="45" placeholder="Apellidos de cliente" required autocomplete="off">
                 <!--<span *ngIf="apellidos.touched && !apellidos.valid">Ingrese un nombre de cliente valido por favor</span>-->
                  <md-hint align="end">{{apellidos.value.length}}/65</md-hint>
            </md-input-container></td>
          </tr>
         </table>

        <md-input-container class="example-full-width form-space"  dividerColor="accent">
          <input type="tel" name="CTELEFONO" #telefono #CTELEFONO="ngModel" [(ngModel)]="cliente.CTELEFONO" mdInput maxlength="10" placeholder="Número de teléfono/celular" required autocomplete="off">
          <md-hint align="end">{{telefono.value.length}}/10</md-hint>
          <!--<span *ngIf="telefono.touched && !telefono.valid">Ingrese un nombre de cliente valido por favor</span>-->
        </md-input-container>

        <button class="button-form" color="accent" md-button style="width:100%" type="submit" [disabled]="!formCliente.form.valid">Crear {{opcioncliente}}</button>
          </form>
        <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
    </md2-dialog>

    <button md-raised-button color="accent" (click)="clientedialog.open()">Añadir cliente</button>
