<md2-dialog #logindialog>
<div md-card-avatar class="example-header-image"></div>
    <h3 class="kp-text text-center">Autenticación</h3>
        <form #formLogin="ngForm" (ngSubmit)="login(logindialog)">

          <md-input-container dividerColor="accent">
              <input mdInput #email #EEMAIL="ngModel" [(ngModel)]="empleado.EEMAIL" maxlength="45" name="EEMAIL" placeholder="Correo eléctronico" required autocomplete="off" autofocus pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}">
              <md-error align="start">ingresa un email válido</md-error>
              <md-hint align="end">{{email.value.length}}/45</md-hint>
          </md-input-container> 

          <md-input-container class="example-full-width"  dividerColor="accent">
            <input type="password" name="EPASSWORD" #EPASSWORD="ngModel" [(ngModel)]="empleado.EPASSWORD" mdInput minlength="3" maxlength="45" placeholder="Contraseña" required autocomplete="off">
              <md-error align="start">minimo 8 caracteres</md-error>
          </md-input-container>

          <button class="button-form" color="accent" md-button style="width:100%" type="submit" [disabled]="!formLogin.form.valid">INGRESAR</button>

        </form>
</md2-dialog>

<button  *ngIf="!username" md-button class="loginbtn" color="accent" (click)="logindialog.open()">INGRESAR</button>
