<!--dialogo para edición de dp-->
    <md2-dialog #detallepedidodialog>
          <div *ngIf="detallepedido">
           <h5>Servicios del pedido #{{detallepedido.DPIDPEDIDO}}</h5>
                <form #formServicio="ngForm" (ngSubmit)="putServicio()">

                  <md2-select name="IDSP"
                              class="form-select"
                              [(ngModel)]="detallepedido.IDSP"
                              #IDSP="ngModel"
                              placeholder="Servicio"
                              [required]="isRequired"
                              [disabled]="isDisabled"
                              #servicioControl="ngModel"
                              autofocus="autofocus">

                    <md2-option *ngFor="let i of items" [value]="i.IDSP">{{i.SERVNOMBRE}} <strong>{{i.PNOMBREUNIDAD}}</strong> | <strong class="kp-text bold">{{i.SPCOSTO | currency:'USD':true}}</strong>
                    </md2-option>
                  </md2-select>

                   <h3 class="kp-text">Cantidad</h3>
                  <md-slider
                    #DPCANTIDADPRENDAS="ngModel" [(ngModel)]="detallepedido.DPCANTIDADPRENDAS" name="DPCANTIDADPRENDAS"
                    [disabled]="disabled"
                    [invert]="invert"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [thumb-label]="thumbLabel"
                    [tick-interval]="tickInterval"
                    [value]="value"
                    [vertical]="vertical"
                    style="width:100%;"
                    required>
                </md-slider>

                <input type="hidden" #IDPEDIDO="ngModel" [(ngModel)]="detallepedido.DPIDPEDIDO" name="IDPEDIDO">

            <button type="submit" class="button-form" color="accent" md-button style="width:100%" [disabled]="!formServicio.form.valid">Guardar cambios</button>
            <button (click)="deletecarrito(detallepedido.ID)" class="button-form" color="accent" md-button style="width:100%" [disabled]="!formServicio.form.valid">Eliminar del pedido</button>
            </form>
          </div>

    </md2-dialog>

    <md2-dialog #detallepedidoserviciodialog>
        <h5>Añadir más servicios al pedido</h5>
                <form #formServicio="ngForm" (ngSubmit)="postServicio()">

                  <md2-select name="IDSP"
                              class="form-select"
                              [(ngModel)]="dp.DPIDSP"
                              #DPIDSP="ngModel"
                              placeholder="Servicio"
                              [required]="isRequired"
                              [disabled]="isDisabled"
                              #servicioControl="ngModel"
                              autofocus="autofocus">

                    <md2-option *ngFor="let i of items" [value]="i.IDSP">{{i.SERVNOMBRE}} <strong>{{i.PNOMBREUNIDAD}}</strong> | <strong class="kp-text bold">{{i.SPCOSTO | currency:'USD':true}}</strong>
                    </md2-option>
                  </md2-select>

                   <h3 class="kp-text">Cantidad</h3>
                  <md-slider
                    #DPCANTIDAD="ngModel" [(ngModel)]="dp.DPCANTIDAD" name="DPCANTIDAD"
                    [disabled]="disabled"
                    [invert]="invert"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [thumb-label]="thumbLabel"
                    [tick-interval]="tickInterval"
                    [value]="value"
                    [vertical]="vertical"
                    style="width:100%;"
                    required>
                </md-slider>

            <button type="submit" class="button-form" color="accent" md-button style="width:100%" [disabled]="!formServicio.form.valid" (click)="refreshpdp(pedido.ID)">Añadir servicio al pedido</button>
            </form>
    </md2-dialog>

<!--/dialogo pra edición de dp-->

<div *ngIf="pedido">
  <div class="container-fluid" >
    <div class="row">
      <h2 class="kp-text text-center">Detalles del pedido <span class="bold">#{{pedido.ID}}</span></h2>
      <br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
         <button md-button color="accent" (click)="regresar()"><md-icon >keyboard_arrow_left</md-icon>Pedidos</button>
         <button md-button color="accent" (click)="detallepedidoserviciodialog.open()"><md-icon >add</md-icon>Añadir más servicios</button>

         <md-card>
           <form #formPedido="ngForm" (ngSubmit)="putPedido()">

                     <table class="example-full-width" cellspacing="0">
                        <tr>
                          <td><md-input-container dividerColor="accent" class="form-space">
                              <input type="number" mdInput #id name="ID" #ID="ngModel" [(ngModel)]="pedido.ID" placeholder="ID de pedido" [disabled]="true">
                          </md-input-container></td>
                          <td>
                            <md2-select name="PSTATUS"
                              class="form-select"
                              [(ngModel)]="pedido.PSTATUS"
                              #PSTATUS="ngModel"
                              placeholder="Status del pedido"
                              [required]="isRequired"
                              [disabled]="isDisabled"
                              >
                                <md2-option *ngFor="let s of statusservicio" [value]="s.status"><span class="kp-text">{{s.nombre}}</span>
                                </md2-option>
                            </md2-select>
                          </td>
                          </tr>
                      </table>

                    <md2-select name="IDCLIENTE"
                      class="form-select"
                      [(ngModel)]="pedido.IDCLIENTE"
                      #IDCLIENTE="ngModel"
                      placeholder="Cliente"
                      [required]="isRequired"

                      [disabled]="inputdisabled">
                          <md2-select-header>
                              <input name="search"
                                type="text"
                                autofocus="autofocus"
                                placeholder="Buscar por nombre..."
                                [(ngModel)]="_search" />
                          </md2-select-header>
                            <md2-option *ngFor="let c of clientes | dataPipe : _search" [value]="c.ID"><span class="kp-text">{{c.CNOMBRE}} {{c.CAPELLIDOS}} </span>
                            </md2-option>
                    </md2-select>

                    <md-input-container dividerColor="accent">
                      <input mdInput #direccionr #PDIRECCIONR="ngModel" [(ngModel)]="pedido.PDIRECCION_R" minlength="20" maxlength="200" name="PDIRECCION_R" placeholder="Dirección a recoger" required autocomplete="off" [disabled]="inputdisabled">
                      <md-hint align="end">Orden sugerido: calle, número ext., colonia/zona, código postal, ciudad {{direccionr.value.length}}/200</md-hint>
                      <!--Av. Gral. Lazaro Cardenas 210B, Zona Centro, 34000 Durango, Dgo., Mexico-->
                    </md-input-container>

                    <md-input-container class="example-full-width form-space"  dividerColor="accent">
                      <input mdInput #directione #PDIRECCIONE="ngModel" [(ngModel)]="pedido.PDIRECCION_E" minlength="20" maxlength="200" name="PDIRECCION_E" placeholder="Dirección a entregar" autocomplete="off" required [disabled]="inputdisabled">
                      <md-hint align="end">{{directione.value.length}}/200</md-hint>
                    </md-input-container>

                    <h4 class="kp-text">Forma de pago</h4>
                    <hr>
                    <div style="margin:0 auto; text-align: center;">
                      <md-radio-group dividerColor="accent" #PPAGADO="ngModel" [(ngModel)]="pedido.PPAGADO" name="PPAGADO" [disabled]="false">
                      <md-radio-button class="form-radiobutton" value="contraentrega"
                              tooltip="¿El pedido se pagó después de la entrega?"
                              tooltip-position="above"
                              tooltip-delay="0 * 1000">Pagado a contraentrega</md-radio-button>
                      <md-radio-button class="form-radiobutton" value="por_adelantado"
                              tooltip="[-10%] Por pagar el pedido al entregar la ropa"
                              tooltip-position="above"
                              tooltip-delay="0 * 1000">Pagado por adelantado</md-radio-button>
                      </md-radio-group>
                      <br>
                      <md-radio-group dividerColor="accent" #PFORMA="ngModel" [(ngModel)]="pedido.PFORMA" name="PFORMA" [disabled]="inputdisabled"
                      tooltip="¿El pago del pedido se efectúa en efectivo o con tarjeta bancaria?"
                              tooltip-position="above"
                              tooltip-delay="0 * 1000">
                      <md-radio-button class="form-radiobutton" value="efectivo">Efectivo</md-radio-button>
                      <md-radio-button class="form-radiobutton" value="tarjeta">Tarjeta</md-radio-button>
                      </md-radio-group>
                      <br>
                    <md-chip-list class="mat-chip-list-stacked">
                      <md-chip color="accent" selected="true">Precio total {{pedido.PPRECIOTOTAL | currency:'USD':true}}</md-chip>
                    </md-chip-list>
                  </div>
                      <br>

              <button type="submit" class="button-form" color="accent" md-button style="width:100%" [disabled]="!formPedido.form.valid" (click)="getSumaP(pedido.ID)">Actualizar datos del pedido #{{pedido.ID}}</button>
            </form>
              <!--<p class="kp-text bold">Pedido</p>-->
                  <br>
                   
                      <md-chip-list class="mat-chip-list-stacked">
                        <h3 class="kp-text">Servicios del pedido</h3>
                        <div class="touchable"> 
                        <md-chip *ngFor="let dp of detallepedidos"
                            selected="true"
                            color="primary"
                            (click)="detallepedidodialog.open(); getdp(dp.ID)"
                            >
                          {{dp.DPCANTIDADPRENDAS}} prendas | {{dp.DPCOSTOPEDIDO | currency:'USD':true}}
                        </md-chip>
                      </div>
                      </md-chip-list>
                    
         </md-card>
        </div>
        <br><br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <md-card>
            <p class="kp-text">Ubicación del pedido en el mapa</p>
                <agm-map
                    [latitude]="pedido.LAT"
                    [longitude]="pedido.LNG"
                    [zoom]="zoom"
                    [mapDraggable]="true"
                    [disableDoubleClickZoom]="false"
                    [disableDefaultUI]="false"
                    [zoomControl]="true"
                    [streetViewControl]="false"
                    [styles]="customStyle"
                    >
                      <div>
                          <agm-marker
                            *ngIf="pedido. LAT != null && pedido.LNG != null"
                            [latitude]="pedido.LAT" [longitude]="pedido.LNG"
                            [iconUrl]="kityplancho"
                            [markerDraggable]="draggable"
                            (markerClick)="clickMarcador(pedido)"
                            (dragEnd)="dragEndMarcador(pedido, $event)"
                            [opacity]="opacityr"
                            >
                              <agm-info-window
                              [disableAutoPan]="true"
                              [isOpen]="true"
                              [maxWidth]="230">
                                <p><span class="kp-text bold">{{pedido.ID}} | {{pedido.PFECHA}}</span></p>
                                <h5>{{direccion}}</h5>
                                <span class="bold">{{pedido.PDIRECCION_R}}</span>
                                <!--<span>{{pedido.PSTATUS}}</span>-->
                                <!--<span>{{pedido.LAT}}</span>
                                <span>{{pedido.LNG}}</span>-->
                              </agm-info-window>
                          </agm-marker>
                      </div>

                      <div *ngIf="pedido.PCOORDENADAS_E != pedido.PCOORDENADAS_R">
                          <agm-marker
                            *ngIf="pedido.LATE != null && pedido.LNGE != null"
                            [latitude]="pedido.LATE" [longitude]="pedido.LNGE"
                            [iconUrl]="kityplancho"
                            [markerDraggable]="draggable"
                            (markerClick)="clickMarcador(pedido)"
                            (dragEnd)="dragEndMarcadore(pedido, $event)"
                            [opacity]="opacitye"
                            >
                              <agm-info-window
                              [disableAutoPan]="true"
                              [isOpen]="true"
                              [maxWidth]="230">
                                <p><span class="kp-text bold">{{pedido.ID}} | {{pedido.PFECHA}}</span></p>
                                <h5>Dirección a entregar pedido</h5>
                                <span class="bold">{{pedido.PDIRECCION_E}}</span>
                                <!--<span>{{pedido.PSTATUS}}</span>-->
                                <!--<span>{{pedido.LATE}}</span>
                                <span>{{pedido.LNGE}}</span>-->
                              </agm-info-window>
                          </agm-marker>
                      </div>
                </agm-map>
          </md-card>
        </div>
    </div>
  </div>
</div>


