.map-marker{
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
}

.Deliver {
    border: 4.5px solid #41eaea;
}

.Complete{
    border: 4.5px solid #41ea65;
}

.Denenged{
    border: 4.5px solid #ea4141;
}

.Encamino{
    border: 4.5px solid #eadd41;
}

.EnCola{
    border: 4.5px solid #f7ad27;
}

.Process{
    border: 4.5px solid #278df7;
}

.Cot{
    border: 4.5px solid #cccccc;
}


.filterpedidos{
    width: 50%;
    margin: 0 auto;
}

@media (min-width: 320px) {
  .filterpedidos{
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  .filterpedidos{
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width: 720px) {
  .filterpedidos{
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .filterpedidos{
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .filterpedidos{
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .filterpedidos{
    width: 50%;
    margin: 0 auto;
  }
}
