    <!--<md2-dialog #pedidoDialog>
        <h5>Nuevo pedido :)</h5>
        <form #formPedido="ngForm" (ngSubmit)="postPedido()">

        <md-input-container dividerColor="accent">
        <input mdInput #nameClient minlength="5" maxlength="45" name="nameClient" autofocus="autofocus" placeholder="Nombre de cliente" required autocomplete="off">
        <md-hint align="end">{{nameClient.value.length}}/45</md-hint>
        </md-input-container>

        <md-input-container class="example-full-width form-space"  dividerColor="accent">
        <input mdInput #directionE maxlength="100" placeholder="Dirección a entregar" required autocomplete="off">
        <md-hint align="end">{{directionE.value.length}}/100</md-hint>
        </md-input-container>

        <div style="margin:0 auto; text-align: center;">
            <md-radio-group dividerColor="accent">
              <md-radio-button class="form-radiobutton" checked="checked" value="contraentrega"
                        tooltip="¿El pedido se pagará después de la entrega?"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Pagado a contraentrega</md-radio-button>
              <md-radio-button class="form-radiobutton" value="por_adelantado"
                        tooltip="[-10%] Por pagar el pedido al entregar la ropa"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Pagado al entregar</md-radio-button>
            </md-radio-group>
        </div>

        <button type="submit" class="button-form" color="accent" md-button style="width:100%" [disabled]="!formPedido.form.valid">{{opcionpedido}}</button>
          </form>


        <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
    </md2-dialog>-->

   <div class="kpgoogle-maps">
    <agm-map
        (mapClick)=" mapClicked($event)"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [mapDraggable]="true"
        [disableDoubleClickZoom]="false"
        [disableDefaultUI]="false"
        [zoomControl]="true"
        [streetViewControl]="false"
        [styles]="customStyle"
        >

          <agm-marker
          *ngIf="lat != null && lng != null"
          [latitude]="lat" [longitude]="lng"
          [iconUrl]="kityplancho"
          >
          </agm-marker>

          <div>
            <agm-marker *ngFor="let pedido of cr; let i = index"
              (markerClick)="markerClicked(pedido, i)"
              (dragEnd)="markerDragEnd(pedido, $event)"
              [latitude]="pedido.LAT"
              [longitude]="pedido.LNG"
              [markerDraggable]="draggable"
              [iconUrl]="imageEC"
              [opacity]="1">

                  <agm-info-window >
                    <h5>Status del pedido #<span class="kp-text bold">{{pedido.IDPEDIDO}}:</span></h5>
                    <span>Pedido para recoger</span><br>
                    <button class="btn btn-default btn-xs" type="button" aria-haspopup="true" aria-expanded="false" (click)="getpedido(pedido.IDPEDIDO)" >
                      ver detalles
                    </button>
                  </agm-info-window>
            </agm-marker>
          </div>

         <div>
            <agm-marker *ngFor="let pedidoe of ce; let i = index"
              (markerClick)="markerClicked(pedidoe, i)"
              (dragEnd)="markerDragEnd(pedidoe, $event)"
              [latitude]="pedidoe.LATE"
              [longitude]="pedidoe.LNGE"
              [markerDraggable]="draggable"
              [iconUrl]="imageD"
              [opacity]="1">

                  <agm-info-window >
                    <h5>Status del pedido #<span class="kp-text bold">{{pedidoe.IDPEDIDO}}:</span></h5>
                    <span>Pedido listo para entregar</span><br>
                    <button class="btn btn-default btn-xs" type="button" aria-haspopup="true" aria-expanded="false" (click)="getpedido(pedidoe.IDPEDIDO)" >
                      ver detalles
                    </button>
                  </agm-info-window>
            </agm-marker>
          </div>

          <div>
            <agm-marker *ngFor="let r of rutero; let i = index"
              (markerClick)="markerClicked(r, i)"
              (dragEnd)="markerDragEnd(r, $event)"
              [latitude]="r.LATR"
              [longitude]="r.LNGR"
              [markerDraggable]="draggable"
              [iconUrl]="ruteroIco"
              [opacity]="1">

                  <agm-info-window >
                    <h5><span >ID {{r.IDEMPLEADO}}</span> | <span class="kp-text">{{r.ENOMBRE}} {{r.EAPELLIDOS}}</span></h5>
                    <h5> Tel: <span class="kp-text">{{r.ETELEFONO}}</span></h5>
                    <button class="btn btn-default btn-xs" type="button" aria-haspopup="true" aria-expanded="false" (click)="getempleado(r.IDEMPLEADO)" >
                      ver detalles del rutero
                    </button>
                  </agm-info-window>
            </agm-marker>
          </div>

    </agm-map>
</div>
