<div class="container-fluid">
 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <br>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <kp-servicio></kp-servicio>
            <!--<kp-cliente></kp-cliente>
              <button md-icon-button (click)="clientesCard = true">
                  <md-icon >view_comfy</md-icon>
              </button>
              <button md-icon-button (click)="clientesCard = false">
                  <md-icon >list</md-icon>
              </button>-->
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="inputfilter">
            <md-input-container dividerColor="accent">
              <input mdInput placeholder="Busca un servicio por su nombre..." name="search">
            </md-input-container>
            </div>
          </div>
        </div>
       <!--<app-servicio></app-servicio>-->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead">
                  <tr>
                    <th
                        tooltip="Identificador de servicio"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">ID Servicio</th>
                    <th
                        tooltip="Nombre de servicio y prenda correspondiente"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Servicio</th>
                    <!--<th>Descripción</th>-->
                    <th
                        tooltip="Precio por unidad"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Precio</th>
                    <th tooltip="Descuento por servicio"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">-%</th>
                    <th tooltip="Precio con descuento aplicado"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Precio -%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of servicios">
                    <td>{{servicio.IDSP}}</td>
                    <td>{{servicio.SERVNOMBRE}} - <strong>{{servicio.PNOMBREUNIDAD}}</strong></td>
                    <!--<td>Planchado a base de...</td>-->
                    <td class="enfasis-td">{{servicio.SPCOSTO | currency:'USD':true}}</td>
                    <td>{{servicio.SPDESCUENTO}}%</td>
                    <td class="enfasis-td" >
                        <div *ngIf="servicio.SPDESCUENTO == 0; then thenTemplate; else elseTemplate"></div>
                        <ng-template #thenTemplate>
                          {{servicio.SPCOSTO | currency:'USD':true }}
                        </ng-template>
                        <ng-template #elseTemplate>
                          <strong>{{servicio.SPCOSTO - (servicio.SPCOSTO * servicio.SPDESCUENTO / 100) | currency:'USD':true}}</strong>
                        </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="loading" *ngIf="loading">
                <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
                <!--<md-spinner color="accent"></md-spinner>-->
                <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
            </div>
        </div>
    </div>
  </div>
</div>
