<div class="container">
 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="align-items: center; margin: 0 auto; width: 285px;">
            <kp-servicio></kp-servicio>
            <kp-prenda></kp-prenda>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="inputfilter">
            <md-input-container dividerColor="accent">
              <input mdInput placeholder="Buscar servicio..." [(ngModel)]="userFilter.PNOMBREUNIDAD" name="search" autocomplete="off">
            </md-input-container>
            </div>
          </div>
        </div>
       <!--<app-servicio></app-servicio>-->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead">
                  <tr>
                    <th
                        tooltip="Identificador de servicio"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">ID Servicio</th>
                    <th
                        tooltip="Nombre de servicio y prenda correspondiente"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Servicio</th>
                    <!--<th>Descripción</th>-->
                    <th
                        tooltip="Precio por unidad"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Precio</th>
                    <th tooltip="Descuento por servicio"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">-%</th>
                    <th tooltip="Precio con descuento aplicado"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">Precio -%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of servicios | filterBy: userFilter" (click)="getsp(servicio.IDSP)">
                    <td>{{servicio.IDSP}}</td>
                    <td><span (click)="getservicio(servicio.IDSERVICIO)" class="getid"
                        tooltip="Ver detalles de {{servicio.SERVNOMBRE}}"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">{{servicio.SERVNOMBRE}} </span> -

                        <strong (click)="getprendas(servicio.IDPRENDAS)" class="getid"
                        tooltip="Ver detalles de {{servicio.PNOMBREUNIDAD}}"
                        tooltip-position="above"
                        tooltip-delay="0 * 1000">{{servicio.PNOMBREUNIDAD | truncate: 20}}</strong></td>
                    <td class="enfasis-td">{{servicio.SPCOSTO | currency:'USD':true}}</td>
                    <td>{{servicio.SPDESCUENTO}}%</td>
                    <td class="enfasis-td" >
                        <div *ngIf="servicio.SPDESCUENTO == 0; then thenTemplate; else elseTemplate"></div>
                        <ng-template #thenTemplate>
                          {{servicio.SPCOSTO | currency:'USD':true }}
                        </ng-template>
                        <ng-template #elseTemplate>
                          <strong>{{servicio.SPCOSTO - (servicio.SPCOSTO * servicio.SPDESCUENTO / 100) | currency:'USD':true}}</strong>
                        </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="loading" *ngIf="loading">
                <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
                <!--<md-spinner color="accent"></md-spinner>-->
                <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
            </div>
            <div class="message" *ngIf="message">
                <h5>Fallo de internet, por favor vuelve a recargar la página.</h5>
            </div>
        </div>
    </div>
  </div>
</div>
