<div class="loading" *ngIf="loading">
  <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
</div>

<div *ngIf="servicio">
  <div class="container-fluid">
    <div class="row">
      <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="width:200px; margin:0 auto;"><button md-button color="accent" (click)="regresar()"><md-icon >keyboard_arrow_left</md-icon>Servicios</button></div>
          <div class="datacontainer">
            <div class="datarepite">
            <md-card>
               <h2 class="kp-text text-center">Detalles del servicio #{{servicio.IDSP}}</h2>
              <form #formServicio="ngForm" (ngSubmit)="putServicio()">
                  <md-card-header>
                  <div md-card-avatar class="example-header-image mat-card-avatar text-center"></div>
                  <br>
                  </md-card-header>

                    <md-input-container dividerColor="accent" class="example-full-width form-space">
                    <input mdInput #id name="IDSP" #IDSP="ngModel" [(ngModel)]="servicio.IDSP" placeholder="ID de servicio" [disabled]="true">
                    </md-input-container>

                    <md2-select name="IDSERVICIO"
                              class="form-select"
                              [(ngModel)]="servicio.IDSERVICIO"
                              #IDSERVICIO="ngModel"
                              placeholder="Servicio"
                              [required]="isRequired"
                              [disabled]="isDisabled"
                              #servicioControl="ngModel"
                              autofocus="autofocus">
                      <!--<md2-select-header>
                      <input name="search" type="text" placeholder="Buscar..." />
                      </md2-select-header>-->

                      <md2-option *ngFor="let i of items" [value]="i.IDSERVICIO">{{i.SERVNOMBRE}}
                      </md2-option>
                    </md2-select>

                    <md2-select name="IDPRENDAS"
                        class="form-select"
                        [(ngModel)]="servicio.IDPRENDAS"
                        #IDPRENDAS="ngModel"
                        placeholder="Prendas que pertenecerán al servicio"
                        [required]="isRequired"
                        [disabled]="isDisabled"
                        #sucursalesControl="ngModel"
                        autofocus="autofocus">
                      <!--<md2-select-header>
                      <input name="search" type="text" placeholder="Buscar..." />
                      </md2-select-header>-->

                      <md2-option *ngFor="let p of iprenda" [value]="p.ID"><span class="kp-text">{{p.PNOMBREUNIDAD}}</span>
                      </md2-option>
                    </md2-select>

                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td width="40%"><md-input-container dividerColor="accent">
                        <input type="number" mdInput #costo #SPCOSTO="ngModel" [(ngModel)]="servicio.SPCOSTO" name="SPCOSTO" placeholder="Costo del servicio" required autocomplete="off">
                        <!--<md-hint align="end">{{costo.value.length}}/45</md-hint>-->
                        <md-error align="start">por favor ingresa costo al servicio</md-error>
                      </md-input-container></td>
                        <td>
                          <p class="kp-text">Descuento {{servicio.SPDESCUENTO}}%</p>
                          <md-slider
                            #SPDESCUENTO="ngModel" [(ngModel)]="servicio.SPDESCUENTO" name="SPDESCUENTO"
                                class="md-slider"
                                [disabled]="disabled"
                                [invert]="invert"
                                [max]="max"
                                [min]="min"
                                [step]="step"
                                [thumb-label]="thumbLabel"
                                [tick-interval]="tickInterval"
                                [value]="value"
                                [vertical]="vertical">
                            </md-slider></td>
                        </tr>
                    </table>

                    <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formServicio.form.valid">Actualizar datos del servicio #{{servicio.IDSP}}</button>
              </form>
            </md-card>
           </div>
          </div>
        </div>
    </div>
  </div>
</div>
