 <md-card>
                <md-card-header>
                    <p>Ayuda</p>
                </md-card-header>
            <br>
                <md-card-title>Como registrar nuevos pedidos</md-card-title>
                <md-chip-list>
                  <md-chip color="accent" selected="true" align="end">Pedidos</md-chip>
                </md-chip-list>
                <md-card-content>
                  <md-card-subtitle>Así y así...</md-card-subtitle>
                  Así y así...
                  Así y así...
                  <strong>Así y así...</strong>
                </md-card-content>
            </md-card>
            
<!--<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
           
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <button md-raised-button color="accent">Añadir adjuntos empleado</button>
        </div>
    </div>
  </div>-->
