<div class="loading" *ngIf="loading">
  <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
    <!--<md-spinner color="accent"></md-spinner>-->
    <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
</div>

<div *ngIf="empleado">
  <div class="container">
    <div class="row">
      <h2 class="kp-text text-center">Información y adjuntos de {{empleado.ENOMBRE}} {{empleado.EAPELLIDOS}}</h2>
      <br>
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
          <button md-button color="accent" (click)="regresar()"><md-icon >keyboard_arrow_left</md-icon>Empleados</button>
          <md-card>
               <form #formEmpleado="ngForm" (ngSubmit)="putEmpleado()">
                  <md-card-header>
                  <div md-card-avatar class="example-header-image mat-card-avatar text-center"></div>
                  <br>
                  </md-card-header>
                  <table class="example-full-width" cellspacing="0">
                    <tr>
                      <td><md-input-container dividerColor="accent" class="example-full-width form-space">
                        <input type="number" mdInput #id name="IDEMPLEADO" #IDEMPLEADO="ngModel" [(ngModel)]="empleado.IDEMPLEADO" placeholder="ID de empleado" [disabled]="true">
                         </md-input-container></td>
                      <td>
                        <!--<md-slide-toggle
                    class="example-margin form-space"
                      [color]="color"
                      [checked]="checked"
                      [disabled]="false"
                      [required]="true"
                      align="end">Status de cuenta
                    </md-slide-toggle>-->
                   </td>
                    </tr>
                  </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><md-input-container dividerColor="accent">
                    <input mdInput #email #EEMAIL="ngModel" [(ngModel)]="empleado.EEMAIL" minlength="12" maxlength="45" name="EEMAIL" placeholder="Correo eléctronico" required autocomplete="off" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                    <md-hint align="end">{{email.value.length}}/45</md-hint>
                    </md-input-container></td>
                <td>
                  <md-input-container dividerColor="accent">
                    <input mdInput #password #EPASSWORD="ngModel" [(ngModel)]="empleado.EPASSWORD" minlength="5" maxlength="45" name="EPASSWORD" placeholder="Contraseña" required autocomplete="off">
                    <md-hint align="end">{{password.value.length}}/45</md-hint>
                    </md-input-container></td>
                </tr>
            </table>

            <!--<md-input-container class="example-full-width form-space"  dividerColor="accent">
                <input mdInput #privilegio #EPRIVILEGIO="ngModel" [(ngModel)]="empleado.EPRIVILEGIO" maxlength="150" name="EPRIVILEGIO" placeholder="Privilegio" autocomplete="off">
                <md-hint align="end">{{privilegio.value.length}}/150</md-hint>
            </md-input-container>-->

            <div style="margin:0 auto; text-align: center;" class="example-full-width form-space">
                <md-radio-group dividerColor="accent" #EPRIVILEGIO="ngModel" [(ngModel)]="empleado.EPRIVILEGIO" name="EPRIVILEGIO">
                  <md-radio-button class="form-radiobutton" value="empleado">Empleado</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="rutero">Rutero</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="administrador">Administrador</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="desempleado">Desempleado</md-radio-button>
                </md-radio-group>
            </div>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><md-input-container class="example-full-width form-space" dividerColor="accent">
                <input mdInput #nombre #ENOMBRE="ngModel" [(ngModel)]="empleado.ENOMBRE" minlength="3" maxlength="45" name="ENOMBRE" autofocus="autofocus" placeholder="Nombre de empleado" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,45}">
                    <md-hint align="end">{{nombre.value.length}}/45</md-hint>
              </md-input-container></td>
              <td><md-input-container class="example-full-width form-space" dividerColor="accent">
                <input mdInput #apellidos #EAPELLIDOS="ngModel" [(ngModel)]="empleado.EAPELLIDOS" minlength="5" maxlength="45" name="EAPELLIDOS" placeholder="Apellidos de empleado" autocomplete="off" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{5,65}">
                    <md-hint align="end">{{apellidos.value.length}}/65</md-hint>
              </md-input-container></td>
            </tr>
          </table>

          <md-input-container class="example-full-width form-space" dividerColor="accent">
            <input mdInput #telefono #ETELEFONO="ngModel" [(ngModel)]="empleado.ETELEFONO" minlength="10" maxlength="10" name="ETELEFONO" placeholder="Número de teléfono/celular" autocomplete="off" required pattern="[0-9]{10}">
            <md-hint align="end">{{telefono.value.length}}/10</md-hint>
          </md-input-container>


          <md-input-container dividerColor="accent" class="example-full-width form-space">
              <input mdInput #referencia1 #EREFERENCIA1="ngModel" [(ngModel)]="empleado.EREFERENCIA1" minlength="5" maxlength="150" name="EREFERENCIA1" placeholder="Referencia laboral 1 (Nombre de empresa, teléfono, gerente, tiempo trabajando)" autocomplete="off" required>
              <md-hint align="end">{{referencia1.value.length}}/150</md-hint>
              </md-input-container>
          <md-input-container class="example-full-width form-space"  dividerColor="accent">
              <input mdInput #referencia2 #EREFERENCIA2="ngModel" [(ngModel)]="empleado.EREFERENCIA2" minlength="5" maxlength="150" name="EREFERENCIA2" placeholder="Referencia laboral 2 (Nombre de empresa, teléfono, gerente, tiempo trabajando)">
              <md-hint align="end">{{referencia2.value.length}}/150</md-hint>
              </md-input-container>

                  <!--<div >
                    <p class="resumenbocado">Resumen de pedido</p>
                    <md2-dialog-footer>
                        <md-chip-list>
                            <md-chip *ngFor="let cs of currentServicios" color="accent" selected="true">{{cs}}</md-chip>
                        </md-chip-list>
                        <span>Total: $200</span>
                    </md2-dialog-footer>
                    </div>-->
                    <!--<md2-datepicker name="birthdate"
                                          placeholder="Select Date"

                                          [required]="isRequired"
                                          [disabled]="isDisabled"
                                          [openOnFocus]="isOpenOnFocus"
                                          [isOpen]="isOpen"
                                          [type]="type"
                                          [enableDates]="enableDates"
                                          [disableDates]="disableDates"
                                          [disableWeekDays]="disableWeekDays"
                                          [min]="minDate"
                                          [max]="maxDate"
                                          [mode]="mode"
                                          [container]="container"
                                          ></md2-datepicker>
                                          -->

          <md-input-container dividerColor="accent" class="example-full-width form-space">
            <input mdInput #fechacontrato #EFECHACONTRATO="ngModel" [(ngModel)]="empleado.EFECHACONTRATO" maxlength="45" name="EFECHACONTRATO" placeholder="Fecha de contrato" required autocomplete="off" value="2017-04-11">
            <md-hint align="end">{{fechacontrato.value.length}}/45</md-hint>
          </md-input-container>

          <md-input-container dividerColor="accent" class="example-full-width form-space">
            <input mdInput #ubicacion #EUBICACION="ngModel" [(ngModel)]="empleado.EUBICACION" maxlength="45" name="EUBICACION" placeholder="Ubucación" autocomplete="off">
            <md-hint align="end">{{ubicacion.value.length}}/45</md-hint>
          </md-input-container>

          <md2-select name="IDSUCURSAL"
                    class="form-select"
                    [(ngModel)]="empleado.IDSUCURSAL"
                    #IDSUCURSAL="ngModel"
                    #sucursal
                    placeholder="Sucursal a la que pertenece el empleado"
                    [required]="isRequired"
                    [disabled]="isDisabled"
                    #sucursalesControl="ngModel"
                    autofocus="autofocus">
            <!--<md2-select-header>
            <input name="search" type="text" placeholder="Buscar..." />
            </md2-select-header>-->

          <md2-option *ngFor="let s of sucursales" [value]="s.IDSUCURSAL"><strong>{{s.IDSUCURSAL}}</strong> | {{s.SNOMBRE}}: <span class="kp-text">{{s.SDIRECCION}}</span>
          </md2-option>
         </md2-select>

          <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formEmpleado.form.valid">Actualizar datos de {{empleado.ENOMBRE}}</button>
          </form>
          </md-card>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
           <h5 class="kp-text text-center">Adjuntos del empleado</h5>
            <md-card>
              <md-card-content>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="http://sm.ign.com/ign_es/screenshot/default/0007775435_67fw.jpg" alt="empleado adjunto" class="img-responsive">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="http://sm.ign.com/ign_es/screenshot/default/0007775435_67fw.jpg" alt="empleado adjunto" class="img-responsive">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <img src="http://sm.ign.com/ign_es/screenshot/default/0007775435_67fw.jpg" alt="empleado adjunto" class="img-responsive">
                  </div>
                </div>
              </md-card-content>
            </md-card>
        </div>
    </div>
  </div>
</div>
