<a [routerLink]="['/empleados']">Empleados...</a>
  <div class="loading" *ngIf="loading">
    <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
      <!--<md-spinner color="accent"></md-spinner>-->
      <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
  </div>
<div *ngIf="empleado">
  <div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div *ngFor="let e of empleado">
        <md-card>
            <md-card-header>
              <div md-card-avatar class="avatar"></div>
            </md-card-header>
        <br>
          <md-card-title> {{e.IDEMPLEADO}} | {{e.ENOMBRE}}</md-card-title>
          <md-chip-list>
              <md-chip color="accent" selected="true" align="end">{{e.EPRIVILEGIO}}</md-chip>
          </md-chip-list>
        <md-card-content>
          <md-card-subtitle>{{e.ETELEFONO}}</md-card-subtitle>
          {{e.EEMAIL}}
          {{e.EPASSWORD}}
          <strong>{{e.EFECHACONTRATO}}</strong>
        </md-card-content>
        </md-card>
        </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <button md-raised-button color="accent">Añadir adjuntos empleado</button>
        </div>
    </div>
  </div>
</div>
