.mat-card-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}

.avatar{
    background-image: url('http://sm.ign.com/ign_es/screenshot/default/0007775435_67fw.jpg');
    background-size:cover
}

md-card{
    margin: 18px 10px 18px 10px;
    text-align: center;
}

md-card-header{
    margin: 0 auto;
    width: 152px;
}
