<div class="container-fluid">
 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="inputfilter">
           <md-input-container dividerColor="accent">
            <input mdInput placeholder="Busca un empleado por rol dentro de la empresa...">
          </md-input-container>
      </div>
        <kp-empleado></kp-empleado>
        <button md-icon-button (click)="empleadosCard = true">
            <md-icon >view_comfy</md-icon>
        </button>
        <button md-icon-button (click)="empleadosCard = false">
            <md-icon >list</md-icon>
        </button><br>
            <div *ngIf="empleadosCard; then thenTemplate; else elseTemplate"></div>
            <ng-template #thenTemplate>
                   <div class="datacontainer" *ngIf="empleados">
                    <div class="datarepite" *ngFor="let empleado of empleados">
                       <a [routerLink]="['.',empleado.IDEMPLEADO]">
                         <md-card>
                          <md-card-header>
                            <div md-card-avatar class="example-header-image"></div>
                            <md-card-title> {{empleado.IDEMPLEADO}} | {{empleado.ENOMBRE}}</md-card-title>
                            <md-card-subtitle>{{empleado.ETELEFONO}}</md-card-subtitle>
                          </md-card-header>
                          <md-card-content>
                            <md-chip-list>
                                <md-chip color="accent" selected="true">{{empleado.EPRIVILEGIO}}</md-chip>
                            </md-chip-list>
                            {{empleado.EEMAIL}}
                            {{empleado.EPASSWORD}}
                            <br>
                            <small>Fecha de contrato: {{empleado.EFECHACONTRATO | date: 'dd MMMM yyyy'}}</small>
                          </md-card-content>
                       </md-card>
                       </a>
                      </div>
                   </div>
            </ng-template>
            <ng-template #elseTemplate>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead">
                          <tr>
                            <th>ID</th>
                            <th >Nombre</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Teléfono</th>
                            <th>Rol en la empresa</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let empleado of empleados">
                            <td>{{empleado.IDEMPLEADO}}</td>
                            <td>{{empleado.ENOMBRE}}</td>
                            <td class="enfasis-td">{{empleado.EEMAIL}}</td>
                            <td>{{empleado.EPASSWORD}}</td>
                            <td>{{empleado.ETELEFONO}}</td>
                            <td><md-chip-list>
                                <md-chip color="accent" selected="true">{{empleado.EPRIVILEGIO}}</md-chip>
                            </md-chip-list></td>
                            <td><a [routerLink]="['.',empleado.IDEMPLEADO]">Ver</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </ng-template>

            <div class="loading" *ngIf="loading">
              <img src="assets/kity.gif" width="68" height="50" alt="Cargando datos...">
                <!--<md-spinner color="accent"></md-spinner>-->
                <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
            </div>
            <div class="message" *ngIf="message">
                <h5>Fallo de internet, por favor vuelve a recargar la página.</h5>
            </div>
    </div>
  </div>
</div>
