.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('http://sm.ign.com/ign_es/screenshot/default/0007775435_67fw.jpg');
  background-size: cover;
}

.mat-card-avatar {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    flex-shrink: 0;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 9px;
}

md-card{
    width: 250px;
    margin: 3px 3px 3px 3px;
}

.message {
    margin: 0 auto;
    width: 400px;
    padding-top: 12px;
}

.message h5{
    color: #ff375c;
    font-family: Roboto;
    font-weight: 400;
}


md-chip{
  min-width: 89px;
  }
