.datacontainer {
    text-align: center;
}

.datarepite {
    display: inline-block !important;
    width: 100% !important;
    margin: 2px !important;
}

@media (min-width: 768px) {
  .datarepite {
    display: inline-block !important;
    width: 90% !important;
    margin: 2px !important;
  }
}

/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px) {
  .datarepite {
      display: inline-block !important;
      width: 50% !important;
      margin: 2px !important;
  }
}

/*Escritorios muy anchos*/
@media (min-width: 1200px) {
  .datarepite {
      display: inline-block !important;
      width: 50% !important;
      margin: 2px !important;
  }
}

