<div class="loading" *ngIf="loading">
  <img src="assets/kity.gif" width="68" height="50" alt="Buscando información...">
    <!--<md-spinner color="accent"></md-spinner>-->
    <!--<md-progress-bar color="accent" value="90" mode="indeterminate"></md-progress-bar>-->
</div>
<div *ngIf="cliente">
  <div class="container-fluid" >
    <div class="row">
      <h2 class="kp-text text-center">Información e historial de {{cliente.CNOMBRE}} {{cliente.CAPELLIDOS}}</h2>
      <br>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <button md-button color="accent" (click)="regresar()"><md-icon >keyboard_arrow_left</md-icon>Clientes</button>
         <md-card>
        <form #formCliente="ngForm" (ngSubmit)="putCliente()">
          <md-card-header>
            <div md-card-avatar class="example-header-image mat-card-avatar text-center"></div>
              <br>
              </md-card-header>
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td><md-input-container dividerColor="accent" class="form-space">
                    <input type="number" mdInput #id name="IDCLIENTE" #IDCLIENTE="ngModel" [(ngModel)]="cliente.IDCLIENTE" placeholder="ID de cliente" [disabled]="true">
            </md-input-container></td>
                <!--<td>
            <md-slide-toggle
            class="example-margin form-space"
              [color]="color"
              [checked]="checked"
              [disabled]="false"
              [required]="true"
              align="end">Status de cuenta
          </md-slide-toggle></td>-->
          <td>
            <md-radio-group dividerColor="accent" #ACTIVO="ngModel" [(ngModel)]="cliente.ACTIVO" name="ACTIVO">
              <md-radio-button class="form-radiobutton" value="1">Activada</md-radio-button>
              <md-radio-button class="form-radiobutton" value="0">Desactivada</md-radio-button>
            </md-radio-group>
                </td>
              </tr>
            </table>

        <table class="example-full-width" cellspacing="0">
           <tr>
            <td><md-input-container dividerColor="accent" class="form-space">
                  <input type="email" mdInput #email name="CEMAIL" #CEMAIL="ngModel" [(ngModel)]="cliente.CEMAIL" minlength="10" maxlength="45" autofocus="autofocus" placeholder="Correo eléctronico" autocomplete="off" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                    <md-hint align="end">{{email.value.length}}/45</md-hint>
                  </md-input-container></td>
            <td><md-input-container dividerColor="accent" class="form-space">
                  <input type="text" mdInput #contrasena name="CPASSWORD" #CPASSWORD="ngModel" [(ngModel)]="cliente.CPASSWORD" minlength="5" maxlength="45" placeholder="Contraseña" autocomplete="off" required>
                  <md-hint align="end">{{contrasena.value.length}}/45</md-hint>
                  <!--<span *ngIf="contrasena.touched && !contrasena.valid">Ingrese un nombre de cliente por favor</span>-->
                </md-input-container></td>
             </tr>
         </table>

         <table class="example-full-width" cellspacing="0">
           <tr>
            <td><md-input-container class="example-full-width form-space"  dividerColor="accent">
                <input type="text" #nombre mdInput name="CNOMBRE" #CNOMBRE="ngModel" [(ngModel)]="cliente.CNOMBRE" minlength="3" maxlength="45" placeholder="Nombre de cliente" autocomplete="off" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,45}">
                   <md-hint align="end">{{nombre.value.length}}/45</md-hint>
                  <!--<span *ngIf="nombre.touched && !nombre.valid">Ingrese un nombre de cliente valido por favor</span>-->
            </md-input-container></td>
            <td><md-input-container class="example-full-width form-space"  dividerColor="accent">
              <input type="text" mdInput #apellidos name="CAPELLIDOS" #CAPELLIDOS="ngModel" [(ngModel)]="cliente.CAPELLIDOS" minlength="5" maxlength="45" placeholder="Apellidos de cliente" autocomplete="off" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{5,65}">
            <md-hint align="end">{{apellidos.value.length}}/65</md-hint>
            <!--<span *ngIf="apellidos.touched && !apellidos.valid">Ingrese un nombre de cliente valido por favor</span>-->
            </md-input-container>
            <span *ngIf="apellidos.touched && !apellidos.valid">Ingrese los apellidos del cliente por favor</span></td>
          </tr>
         </table>

        <md-input-container class="example-full-width form-space"  dividerColor="accent">
          <input type="tel" mdInput #telefono name="CTELEFONO" #CTELEFONO="ngModel" [(ngModel)]="cliente.CTELEFONO" minlength="10" maxlength="10" placeholder="Número de teléfono/celular" autocomplete="off" required pattern="[0-9]{10}">
          <md-hint align="end">{{telefono.value.length}}/10</md-hint>
          <!--<span *ngIf="telefono.touched && !telefono.valid">Ingrese un nombre de cliente valido por favor</span>-->
        </md-input-container>

        <button class="button-form" color="accent" md-button style="width:100%" type="submit" [disabled]="!formCliente.form.valid">Actualizar datos de {{cliente.CNOMBRE}}</button>
          </form></md-card>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <h5 class="kp-text text-center">Historial de pedidos</h5>
          <md-card>
            <md-card-content>
               <div class="table-responsive content" >
                        <table class="table table-hover" >
                        <thead class="thead">
                          <tr>
                            <th style="width: 10%"
                            tooltip="Status del pedido"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000"></th>
                            <th style="width: 5%"
                            tooltip="Identificador de pedido"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000">ID</th>
                            <th style="width: 40%"
                            tooltip="Fecha de creación del pedido"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000">Fecha</th>
                            <th style="width: 20%"
                            tooltip="Precio total del pedido"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000">$</th>
                            <th style="width: 25%"
                            tooltip="Forma de pago"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000">Forma de pago</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr *ngFor="let pedido of pedidos" (click)="getpedido(pedido.IDPEDIDO)"
                            tooltip="Ir a detalles del pedido {{pedido.IDPEDIDO}}"
                            tooltip-position="above"
                            tooltip-delay="0 * 1000">
                           <td>
                              <div class="" [ngSwitch]="pedido.STATUS">
                                  <div class="" *ngSwitchCase="'cotizando'"><span class="map-marker Cot"
                                  tooltip="Cotizando"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'en_cola'"><span class="map-marker EnCola"
                                  tooltip="Pedido en espera a ser aprobado"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'en_camino'"><span class="map-marker Encamino"
                                  tooltip="Pedido aprobado"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'en_proceso'"><span class="map-marker Process"
                                  tooltip="Pedido en tratamiento"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'para_entregar'"><span class="map-marker Deliver"
                                  tooltip="Pedido listo para entregar"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'entregado'"><span class="map-marker Complete"
                                  tooltip="Pedido entregado a cliente"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                                  <div class="" *ngSwitchCase="'no_atendido'"><span class="map-marker Deneged"
                                  tooltip="Pedido denegado"
                                  tooltip-position="above"
                                  tooltip-delay="0 * 1000"></span></div>
                              </div>
                            </td>
                            <td><strong >{{pedido.IDPEDIDO}}</strong> </td>
                            <td>{{pedido.FECHA}}</td>
                            <!--<td>{{pedido.FECHA | date: 'dd MMMM yyyy'}}</td>-->
                            <td class="enfasis-td">{{pedido.PRECIO | currency:'USD':true}}</td>
                            <td>{{pedido.PAGADO}}</td>
                         </tr>
                        </tbody>
                      </table>
                    </div>
            </md-card-content>
          </md-card>
        </div>
    </div>
  </div>
</div>
