.welcomedesign{
    background:
        linear-gradient( rgba(255, 2, 112, 0.8), rgba(255, 2, 119, 0.55), rgba(251, 91, 217, 0.32)),
         url('../../assets/lavanderia2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 85%;
}

.bottom {
    box-shadow: 2px 2px 9px -1px;
    background: #f54d90;
    display: inline-block;
    height: 46px;
    width: 6.85%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.welcome, .textwelcome{
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
    color: #f5f5f5;
    font-family: "Source Sans Pro",sans-serif;
    width: 95%;
}

h1 {
    font-size: 42px;
    font-weight: 100;
}

.slogan{
    text-transform: uppercase;
    font-size: 15px;
    color: #ebebeb;
    font-weight: 100;
    margin-bottom: 50px;
}

.img-kpplaystore{
    width: 65%;
    margin: 0 auto;
    position: sticky;
}

.img-kitypink{
    width: 25%;
    margin-top: 25%;
}

.kpservicios{
    display: flex;
    margin: 10px;
}

.kp-text-h2{
  font-family: "Source Sans Pro",sans-serif;
  font-size: 42px;
  color: #8e8e8e;
  margin-top: 20px;
  padding: 10px 0;

}

.kp-text-h4{
  font-family: "Source Sans Pro",sans-serif;
  color: #f54d90;
  font-weight: 400
}


/*section1*/
.about {
    background-color: #f8f8f8;
}

.section {
    padding: 100px 0;
}

.section, section {
    text-align: center;
}

.vira-quote {
    background: linear-gradient( rgba(39, 156, 169, 0.7), rgba(77, 185, 178, 0.92) );
    color: #fff;
    /* padding: 120px 0; */
    color: #fff;
    font-style: italic;
    font-family: 'Lora', serif;
}

.imgsticky{
      position: sticky;
}
/*Phone*/
#contant-1 {
    background:
        linear-gradient( rgba(113, 241, 255, 0.35),rgba(113, 241, 255, 0.25), rgba(20, 179, 255, 0.65)), url('../../assets/clean-shirt.jpg');
    padding: 80px 0px;
}

.contant-1-head h1 {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 42px;
    color: #ffffff;
    font-weight: 300;
    text-shadow: 1px 1px 0px rgba(173, 173, 173, 0.81);
}

.contant-1-text-area {
    padding-top: 80px;
}

.contant-1-text {
    padding-top: 20px;
}

.contant-1-text h2 {
   color: rgb(254, 192, 218);
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 25px;
}

.contant-1-text p {
    color: #446969;
    font-size: 18px;
    font-family: "Source Sans Pro",sans-serif;
    margin: 0px;
    font-weight: 300;
}

#contant-1 .block-right {
    text-align: center;
}

@media only screen and (max-width: 991px) and (min-width: 768px){
#contant-1 .block-right-img {
    padding-top: 45px;
  }
}

/*/Phone*/


.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.watch {
    background:
        linear-gradient( rgba(255, 2, 112, 0.25), rgba(255, 2, 119, 0.32), rgba(251, 91, 194, 0.44)),
         url('../../assets/White-Clothes.jpg');
    /*font-size: 32px;*/
    color: #fff;
    padding: 150px 0;
}

.watch p {
      text-align: justify;
    font-size: 16px;
    font-weight: 300;
}

.watch a {
    border: 2px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 70px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 0;
    font-size: 21px;
    color: #fff;
}

.footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 60px 0;
}


.phonecenter{
    margin: 0 auto;
    width: 350px;
}
