<div class="welcomedesign">
    <div class="welcome">
        <h1>KityPlancho</h1>
        <p class="slogan">Consentimos a tu ropa para que ella te consienta a ti</p>
        <div class="divcenter">
          <a href="https://play.google.com/" class="textwelcome">
            <img src="assets/googleplay.png" class="img-responsive img-kpplaystore" alt="Descarga KityPlancho en Google Play" border="0">
          </a>
        </div>
    </div>
    <!--<h1 class="textwelcome">Bienvenido</h1>-->
</div>

<div class="">
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
  <div class="bottom"></div>
</div>

<section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="kpinfo text-center">
                    <h2 class="kp-text kp-text-h2 welcome">Lavandería, planchaduría y más a las puertas de tu casa...</h2>
                    <h4 class="kp-text kp-text-h4"><strong>Vamos por tu ropa hasta donde te encuentres.</strong></h4>
                </div>
                <span>KityPlancho Durango</span>
            </div>
        </div>
    </div>
</section>

<section class="kpservicios">
    <!--start services-->
	<div class="services" id="services">
		<div class="container-fluid">
			<div class="row">
				<div *ngIf="servicios">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" *ngFor="let servicio of servicios">
                <img src="assets/kitypink.png" class="img-resposive img-kitypink" alt="KityPlancho Servicio">
            <h5 class="kp-text">{{servicio.NOMBRE}}</h5>
          </div>
         </div>
			</div>
		</div>
	 </div>
	 <!--end services-->
</section>

<section id="contant-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block-left">
                    <div class="contant-1-text-area">
                        <div class="contant-1-head">
                            <h1>KityPlancho App</h1>
                        </div>
                        <div class="contant-1-text">
                            <p>Encuentra y disfruta la App de KityPlancho para ofrecerte un servicio más cómodo. Descargala ya y permitenos ofrecerte nuestros servicios rápido, seguro y fácil. <br></p>
                            <br>
                            <div class="divcenter" style="width: 140px;">
                              <a href="https://play.google.com/" class="textwelcome">
                              <img src="assets/googleplay.png" class="img-responsive" alt="Descarga KityPlancho en Google Play" border="0">
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-6 close -->
            <div class="col-md-6">
                <div class="block-right">
                    <div class="block-right-img">
                        <img src="assets/mobile-phon-1.png" alt="img">
                    </div>
                </div>
            </div><!-- .col-md-6 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contant-1 close -->

<section class="watch bg-img">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>¿Cómo </span>
                <!--<a class="popup-youtube btn" href="https://www.youtube.com/watch?v=4KRHIbsl8BE">
                <span class="fa fa-play"></span></a>-->
                <span>funcionamos?</span>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p> ©KityPlancho Durango <span class="fa fa-heart"></span> | <a href="http://itecordurango.com/itecordurango/WebPages/WelcomeItecor-es.aspx">Itecor</a></p>
            </div>
        </div>
    </div>
</footer>
<!--https://www.amazon.com.mx/Garnier-Skin-Naturals-Face-Aclarante/dp/B01FSQIO7G/ref=sr_1_1?ie=UTF8&qid=1492542830&sr=8-1&keywords=crema+aclarante
https://www.elotrolado.net/hilo_series-manga-de-estilo-ero-guro_785765
https://github.com/Promact/md2/blob/master/src/demo-app/select/select-demo.html
http://code.promactinfo.com/md2/#/select
https://www.genuitec.com/connecting-angular-2-app-java-ee-backend/
https://www.pubnub.com/blog/2017-02-02-realtime-google-maps-tracking-and-live-geolocation-with-javascript/
https://developers.google.com/maps/documentation/javascript/geocoding?hl=es-419
https://github.com/SebastianM/angular-google-maps/issues/139
https://www.youtube.com/watch?v=O5XC5oTlbag-->
