<md2-dialog #empleadodialog>
        <h5>{{opcionempleado | uppercase}}</h5>
        <md-tab-group [selectedIndex]="selectedIndex">
            <md-tab [disabled]="tab1disabled">
                <ng-template md-tab-label>
                  Cliente
                </ng-template>
            <form #formEmpleado="ngForm" (ngSubmit)="postEmpleado()">

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><md-input-container dividerColor="accent">
                    <input mdInput #email #EEMAIL="ngModel" [(ngModel)]="empleado.EEMAIL" name="EEMAIL" minlenght="5" maxlength="45" placeholder="Correo eléctronico" required autocomplete="off" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                    <md-hint align="end">{{email.value.length}}/45</md-hint>
                    </md-input-container></td>
                <td>
                  <md-input-container dividerColor="accent">
                    <input mdInput #password #EPASSWORD="ngModel" [(ngModel)]="empleado.EPASSWORD" minlength="5" maxlength="45" name="EPASSWORD" placeholder="Contraseña" required autocomplete="off">
                    <md-hint align="end">{{password.value.length}}/45</md-hint>
                    </md-input-container></td>
                </tr>
            </table>

            <!--<md-input-container class="example-full-width form-space"  dividerColor="accent">
                <input mdInput #privilegio #EPRIVILEGIO="ngModel" [(ngModel)]="empleado.EPRIVILEGIO" maxlength="150" name="EPRIVILEGIO" placeholder="Privilegio" autocomplete="off">
                <md-hint align="end">{{privilegio.value.length}}/150</md-hint>
            </md-input-container>-->

          <div style="margin:0 auto; text-align: center;"
                  tooltip="Puesto dentro de KityPlancho"
                  tooltip-position="above"
                  tooltip-delay="0 * 1000">
                <md-radio-group dividerColor="accent" #EPRIVILEGIO="ngModel" [(ngModel)]="empleado.EPRIVILEGIO" name="EPRIVILEGIO">
                  <md-radio-button class="form-radiobutton" checked="checked" value="empleado">Empleado</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="rutero">Rutero</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="administrador">Administrador</md-radio-button>
                  <md-radio-button class="form-radiobutton" value="desempleado">Desempleado</md-radio-button>
                </md-radio-group>
            </div>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><md-input-container class="example-full-width"  dividerColor="accent">
                  <input mdInput #nombre #ENOMBRE="ngModel" [(ngModel)]="empleado.ENOMBRE" minlength="3" maxlength="45" name="ENOMBRE" autofocus="autofocus" placeholder="Nombre de empleado" required autocomplete="off" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,45}">
                      <md-hint align="end">{{nombre.value.length}}/45</md-hint>
                </md-input-container></td>
                <td><md-input-container class="example-full-width"  dividerColor="accent">
                  <input mdInput #apellidos #EAPELLIDOS="ngModel" [(ngModel)]="empleado.EAPELLIDOS" minlength="5" maxlength="45" name="EAPELLIDOS" placeholder="Apellidos de empleado" required autocomplete="off" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{5,45}">
                      <md-hint align="end">{{apellidos.value.length}}/45</md-hint>
                </md-input-container></td>
              </tr>
            </table>

                <md-input-container class="example-full-width form-space"  dividerColor="accent">
                  <input mdInput #telefono #ETELEFONO="ngModel" [(ngModel)]="empleado.ETELEFONO" minlength="10" maxlength="10" name="ETELEFONO" placeholder="Número de teléfono/celular" required autocomplete="off">
                  <md-hint align="end">{{telefono.value.length}}/10</md-hint>
                </md-input-container>


                <md-input-container dividerColor="accent">
                    <input mdInput #referencia1 #EREFERENCIA1="ngModel" [(ngModel)]="empleado.EREFERENCIA1" minlength="15" maxlength="150" name="EREFERENCIA1" placeholder="Referencia laboral 1 (Nombre de empresa, teléfono, gerente, tiempo trabajando)" required autocomplete="off">
                    <md-hint align="end">{{referencia1.value.length}}/150</md-hint>
                    </md-input-container>
                <md-input-container class="example-full-width form-space"  dividerColor="accent">
                    <input mdInput #referencia2 #EREFERENCIA2="ngModel" [(ngModel)]="empleado.EREFERENCIA2" minlength="15" maxlength="150" name="EREFERENCIA2" placeholder="Referencia laboral 2 (Nombre de empresa, teléfono, gerente, tiempo trabajando)" autocomplete="off">
                    <md-hint align="end">{{referencia2.value.length}}/150</md-hint>
                    </md-input-container>


            <md-input-container dividerColor="accent">
            <input mdInput #fechacontrato #EFECHACONTRATO="ngModel" [(ngModel)]="empleado.EFECHACONTRATO" name="EFECHACONTRATO" placeholder="Fecha de contrato. Ej: 2017-04-11" required autocomplete="off">
            </md-input-container>

    <!--Valor: {{empleado.EFECHACONTRATO}}-->

            <md-input-container dividerColor="accent">
            <input mdInput #ubicacion #EUBICACION="ngModel" [(ngModel)]="empleado.EUBICACION" maxlength="45" name="EUBICACION" placeholder="Ubucación" required autocomplete="off">
            <md-hint align="end">{{ubicacion.value.length}}/45</md-hint>
            </md-input-container>

          <md2-select name="IDSUCURSAL"
                      class="form-select"
                      [(ngModel)]="empleado.IDSUCURSAL"
                      #IDSUCURSAL="ngModel"
                      placeholder="Sucursal a la que pertenece el empleado"
                      [required]="isRequired"
                      [disabled]="isDisabled"
                      #sucursalesControl="ngModel"
                      autofocus="autofocus">
            <!--<md2-select-header>
            <input name="search" type="text" placeholder="Buscar..." />
            </md2-select-header>-->

            <md2-option *ngFor="let s of sucursales" [value]="s.IDSUCURSAL"><strong>{{s.IDSUCURSAL}}</strong> | {{s.SNOMBRE}}: <span class="kp-text">{{s.SDIRECCION}}</span>
            </md2-option>
          </md2-select>

            <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formEmpleado.form.valid">Crear {{opcionempleado}}</button>
              </form>
            <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
          </md-tab>



          <md-tab [disabled]="tab2disabled">
                <ng-template md-tab-label>
                  Adjuntos de {{empleado.ENOMBRE}}
                </ng-template>
                <form #formEmpleadoAdjuntos="ngForm" (ngSubmit)="postEmpleadoAdjuntos()">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                          <div id="dropzone">
                            <div>INE</div>
                            <input type="file" accept="image/*" #EAINE="ngModel" [(ngModel)]="empleadoad.EAINE" name="EAINE"/>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                          <div id="dropzone">
                            <div>CURP</div>
                            <input type="file" accept="image/*" #EACURP="ngModel" [(ngModel)]="empleadoad.EACURP" name="EACURP"/>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                          <div id="dropzone">
                          <div>Acta de Nac.</div>
                            <input type="file" accept="image/*" #EAACTANACIMIENTO="ngModel" [(ngModel)]="empleadoad.EAACTANACIMIENTO" name="EAACTANACIMIENTO"/>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                          <div id="dropzone">
                            <div>Comprobante</div>
                            <input type="file" accept="image/*" #EACOMPROBANTEDOM="ngModel" [(ngModel)]="empleadoad.EACOMPROBANTEDOM" name="EACOMPROBANTEDOM"/>
                          </div>
                        </div>
                    </div>
                  </div>
                <button class="button-form" color="accent" md-button style="width:100%" type="submit"[disabled]="!formEmpleadoAdjuntos.form.valid">Añadir archivos de {{empleado.ENOMBRE}}</button>
                </form>
                <p class="nota">*Nota: Todos los archivos<span class="enfasis">*</span> son obligatorios</p>
          </md-tab>
      </md-tab-group>
    </md2-dialog>

    <button md-raised-button color="accent" (click)="empleadodialog.open()">Añadir empleado</button>
