/*Nuevo pedido*/
md2-dialog-header {
    background: #fe8686 !important;
    color: #ffbfbf;
    font-size: 25px;
}

.md2-dialog-header h2{
    font-weight: 200;
}

md2-dialog-footer{
    width: 90%;
    margin: 0 auto;
}

.new-request{
    background-color: #fec0da;
    box-shadow: 0 0 0 0;
    /*border-bottom: solid #FF82B8 2px;*/
    border-radius: 5em;
}

.form-space, .form-select{
    margin-bottom: 2px;
    margin: .5em 0 !important;
    width: 100%;
}

.form-radiobutton{
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.button-form{
    color: #ff4081;
    background: #ffe8e8;
}

.md2-select-header {
  position: relative;
  display: block;
  height: 48px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(black, 0.12);
}

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
  }

.resumenbocado{
    text-align: center;
    font-weight: 500;
    color: #03A9F4;
    margin: 0;
}

form{
  margin-top:15px;
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.margin-top{
    margin-bottom: 2px;
    margin: .6em 0 !important;
    width: 100%;
}
/*Input file*/
#dropzone {
  position: relative;
  border: 5px dotted #d2d2d2;
  border-radius: 20px;
  color: #ff8080;
  font: bold 15px/100px arial;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  width: 110px;
}

#dropzone:hover {
  cursor: pointer;
}

#dropzone.hover {
  border: 10px solid #FE5;
  color: #FE5;
}

#dropzone.dropped {
  background: #222;
  border: 10px solid #444;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

