/*Nuevo pedido*/
md2-dialog-header {
    background: #fe8686 !important;
    color: #ffbfbf;
    font-size: 25px;
}

.md2-dialog-header h2{
    font-weight: 200;
}

md2-dialog-footer{
    width: 90%;
    margin: 0 auto;
}

.new-request{
    background-color: #fec0da;
    box-shadow: 0 0 0 0;
    /*border-bottom: solid #FF82B8 2px;*/
    border-radius: 5em;
}

.nota{
    font-size: 12px;
    color: #8b8b8b;
    font-style: italic;
    text-align: right;
    margin: 0 auto;
    margin-top: 5px;
}

.enfasis{
    font-size: 14px;
    color:#fe8686
}

.form-radiobutton{
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.resumenbocado{
    text-align: center;
    font-weight: 500;
    color: #03A9F4;
    margin: 0;
}

.bold{
    font-weight: 400
}

.kp-aselect{
    text-align: center;
    position: relative;
    display: block;
    background: #f5f5f5;
    font-weight: 400;
    margin: 0 auto;
    width: 100%;
}

form{
  margin-top:10px;
}

.sebm-google-map-container {
    height: 300px;
}

agm-marker{
    background: #c64545
}


