    <md2-dialog #pedidodialog>
        <h5>{{opcionpedido | uppercase}}</h5>
        <form #formPedido="ngForm" (ngSubmit)="postPedido()">

        <md-input-container dividerColor="accent">
        <input mdInput #nameClient maxlength="45" name="nameClient" autofocus="autofocus" placeholder="Nombre de cliente" required autocomplete="off">
        <md-hint align="end">{{nameClient.value.length}}/45</md-hint>
        </md-input-container>

            <md2-select name="service" class="form-select"
                          [(ngModel)]="currentServicios"
                          multiple
                          placeholder="Servicio"
                          [required]="isRequired"
                          [disabled]="isDisabled"
                           #servicioControl="ngModel">
                <!--<md2-select-header>
                <input name="search" type="text" placeholder="Buscar..." />
                </md2-select-header>
                -->
                <md2-option *ngFor="let i of items" [value]="i.IDSP">{{i.SERVNOMBRE}} {{i.PNOMBREUNIDAD}} | <strong class="kp-text bold">{{i.SPCOSTO | currency:'USD':true}}</strong>
                </md2-option>
              </md2-select>

        <md-input-container class="example-full-width form-space"  dividerColor="accent">
        <input mdInput #directionE maxlength="100" placeholder="Dirección a entregar" required autocomplete="off">
        <md-hint align="end">{{directionE.value.length}}/100</md-hint>
        </md-input-container>

        <div style="margin:0 auto; text-align: center;">
            <md-radio-group dividerColor="accent">
              <md-radio-button class="form-radiobutton" checked="checked" value="contraentrega">Pagado a contraentrega</md-radio-button>
              <md-radio-button class="form-radiobutton" value="pagado">Pagado al entregar</md-radio-button>
            </md-radio-group>
        </div>

        <button class="button-form" color="accent" md-button style="width:100%" type="submit" value="Submit" [disabled]="!formPedido.form.valid">Crear {{opcionpedido}}</button>
          </form>


        <p class="nota">*Nota: Los campos que contienen <span class="enfasis">*</span> son obligatorios</p>
    </md2-dialog>

    <button class="new-request" color="accent" md-icon-button (click)="pedidodialog.open()">
        <md-icon >add</md-icon>
    </button>
